{% extends "inventory/base.html" %}

{% block content %}
<h2>My Checked-Out Equipment</h2>
<table border="1">
    <thead>
        <tr>
            <th>Asset Number</th>
            <th>Model Number</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {% for item in equipment %}
        <tr>
            <td>{{ item.asset_number }}</td>
            <td>{{ item.model_number }}</td>
            <td>{{ item.due_date }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3">No equipment checked out.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
