# Ignore virtual environments
venv/
env/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore static files already collected
static/
staticfiles/

# Ignore log files
*.log

# Ignore Git and IDE files
.git/
.idea/
.vscode/

# Ignore node_modules if applicable
node_modules/
